.toggle-switch {
	width: 50px;
	height: 26px;
	border-radius: 13px;
	position: relative;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .toggle-switch.off {
	background-color: #ccc;
  }
  
  .toggle-switch.on {
	background-color: #06D6A0;
  }
  
  .toggle-slider {
	width: 22px;
	height: 22px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	transition: transform 0.3s ease;
  }
  
  .toggle-switch.off .toggle-slider {
	left: 2px;
  }
  
  .toggle-switch.on .toggle-slider {
	transform: translateX(24px);
  }